@media only screen and (max-width:840px) {
    .main-box .top {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .top .box {
        margin: 10px 10px;
    }
    .bottom {
        margin-top: 1px;
    }
}

*::after,
::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    background-image: url('../images/vote.jpeg');
    background-size: cover;
}

.nav .logo h1,
.nav ul li a,
.info h2,
.info p,
.content .content-left button,
.category .list-items h3,
.category .card-list .card .food-title h1,
.category .card .desc-food p,
.category .card .price {
    font-family: inherit;
    /* Inherit the font family from the body */
}


/* ====MENU====*/

.nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0;
}

.nav .logo h1 {
    font-weight: 600;
    font-family: sans-serif;
    color: black;
}

.nav .logo b {
    color: #ff511c;
}

.nav ul {
    display: flex;
    list-style: none;
}

.nav ul li {
    margin-right: 30px;
}

.nav ul li a {
    text-decoration: none;
    color: #000000;
    font-weight: 500;
    font-family: sans-serif;
    font-size: 17px;
}


/*===ACTIVE===*/

.nav ul .active::after {
    content: '';
    width: 50%;
    height: 3px;
    background-color: #ff511c;
    display: flex;
    position: relative;
    margin-left: 10px;
}


/*===INPUT====*/

input {
    padding: 10px 10px;
    cursor: pointer;
    font-weight: 600;
}

.signin {
    background: #ff511c;
    border-radius: 5px;
    border: none;
    outline: none;
    color: white;
}

.signup {
    background-color: #ff511c;
    color: #ffffff;
    outline: none;
    border: none;
    border-radius: 5px;
}


/*===CONTENT===*/

.content {
    display: grid;
    grid-template-columns: 50% auto;
    gap: 30px;
    margin-top: 50px;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}


/* #Content Text*/


/*====LEFT SIDE===*/

.content .content-left {
    display: block;
    width: 100%;
}

.content .content-left .info {
    max-width: 90%;
    display: flex;
    flex-direction: column;
}

.content .content-left .info h2 {
    font-size: 60px;
    font-family: sans-serif;
    margin-bottom: 20px;
}

.content .content-left .info p {
    font-size: 20px;
    line-height: 2pc;
    margin-bottom: 30px;
    font-family: sans-serif;
}


/*====BUTTON====*/

.content .content-left button {
    padding: 10px 23px;
    background-color: #ff511c;
    color: #ffffff;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}
